html, body { height: 100%; }
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #b4b1b1;
}
h5 { font-size: 0.875rem; }
.form-login {
    width: 410px;
    max-width: 410px;
    padding: 35px;
    margin: 0 auto;
    /*background-color: #fff;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 10px 60px 0 rgba(29,29,31,.09);*/
    width: 100%;
    margin: auto;
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgb(0 0 0 / 0%);
    border-radius: 12px;
    border: 1px solid #76B900;
}
.form-login .social h5 { color: #6156ce; }
.form-login .form-control::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
    opacity: 0;
}
.form-login .form-control::-ms-input-placeholder {
    color: #000;
    font-size: 14px;
    opacity: 0;
}
.form-login .form-control::-moz-placeholder {
    color: #000;
    font-size: 14px;
    opacity: 0;
}
.form-login label {
    /* color: #3b3f5c;
    text-transform: uppercase; */
    font-size: 13px;
    color: #a2ff00;
}
.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    color: #fff;
    padding: 12px 45px 12px 45px;
    font-size: 16px;
    border: none;
    background: transparent;
    border: 1px solid #f5f5f5;
    margin-bottom: 15px !important;
    border-radius: 10px;
}
.form-login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    color: #e95f2b;
}
.form-login .division .line {
    border-top: 1px solid #404553;
    position: absolute;
    top: 10px;
    width: 34%;
}
.form-login .division .line.line-left {
    left: 0;
    border-top: 1px solid #07e0c4;
}
.form-login .division .line.line-right {
    right: 0;
    border-top: 1px solid #07e0c4;
}
.form-login .checkbox .custom-control label {
    text-transform: initial;
    font-size: 14px;
    color: #e95f2b;
}
.login-text a { color: #6e45e2 }